body {
  height: 100vh;
  background-color: blueviolet;
}
h1 {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}
#board {
  height: 25em;
  width: 30em;
  border: solid 1px black;
  text-align: center;
}
.firstRow {
  display: flex;
  height: 33%;
  width: 100%;
  border: solid 1px black;
}
.secondRow {
  display: flex;
  height: 33%;
  width: 100%;
  border: solid 1px black;
}
.thirdRow {
  display: flex;
  height: 33%;
  width: 100%;
  border: solid 1px black;
}
.firstRow #cell1 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.firstRow #cell2 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.firstRow #cell3 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.secondRow #cell1 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.secondRow #cell2 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.secondRow #cell3 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.thirdRow #cell1 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.thirdRow #cell2 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
.thirdRow #cell3 {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
