body {
  height: 100vh;
  background-color: blueviolet;
}
h1 {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}
#board {
  height: 25em;
  width: 30em;
  border: solid 1px black;
  text-align: center;
}
#playButton {
  display: flex;
  justify-content: center;
  height: 3em;
}
button {
  border-radius: 20px;
  background-color: darkgoldenrod;
  color: honeydew;
}
#firstRow {
  display: flex;
  height: 33%;
  width: 100%;
  border: solid 1px black;
}
#secondRow {
  display: flex;
  height: 33%;
  width: 100%;
  border: solid 1px black;
}
#thirdRow {
  display: flex;
  height: 33%;
  width: 100%;
  border: solid 1px black;
}
.cell {
  width: 33%;
  height: 100%;
  border: solid 1px black;
}
#displayResult {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  font-size: 1.5em;
  font-weight: 900;
}
